:root{
    --preto: #000;
    --branco: white;
    --azulAcinzentadoClaro: #d0d6d9;
    --vermelho: #ff0000; 
    --darkRed: #9e2b1d;
    --veryDarkRed: #222121;
    --veryDarkGray: #222;
    --veryDarkGrayishRed: #656464;
    --darkGrayishRed: #999797;
}

*{
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Oswald', sans-serif;
    color: var(--preto);
    background: var(--azulAcinzentadoClaro) url("../img/bg.jpg") top center no-repeat;
}

img{
    max-width: 100%;
    height: auto;
    border: 0;
}

.conteudo{
    margin: 0 auto;
    max-width: 1000px;
}

header{
    max-width: 580px;
}

header h2{
    color: var(--darkRed);
    font-size: 40px;
    margin-top: -20px;
}

header h3{
    color: var(--veryDarkRed);
    font-size: 28px;
    margin-top: 20px;
}

header h2, h3{
    text-transform: uppercase;
    font-weight: 500;
}

.fundoTopo{
    display: none;

}

.comprar{
    margin: 30px auto 30px;
    max-width: 450px;
    font-size: 0;
}

.comprar ul li{
    display: inline-block;
    margin: 0 10px;
}

.comprar li a{
    display: block;
    height: 42px;
}

.itunes{
    background: url(../img/retailers.png);
    background-repeat: no-repeat;
    background-position: left top;
    width: 105px;
}

.appleMusic{
    background: url(../img/retailers.png) 
    no-repeat -127px top;
    width: 133px;
}

.spotify{
    background: url(../img/retailers.png) 
    no-repeat -281px top;
    width: 182px;
}

.googlePlay{
    background: url(../img/retailers.png) 
    no-repeat -484px top;
    width: 114px;
}

.amazon{
    background: url(../img/retailers.png) 
    no-repeat -624px top;
    width: 65px;
}

.itunes:hover{
    background-position: left bottom;
}

.appleMusic:hover{
    background-position: -127px bottom;
}

.spotify:hover{
    background-position: -281px bottom;
}

.googlePlay:hover{
    background-position: -484px bottom;
}

.amazon:hover{
    background-position: -624px bottom;
}

section{
    background-color: var(--darkRed);
    padding: 40px 0 60px;
}

section h1{
    color: var(--veryDarkGray);
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 500;
    padding: 10px 0 15px 0;
}

iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.video{
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.videoConteudo{
    max-width: 640px;
    max-height: 400px;
    margin: 0 auto;
}

footer{
    color: var(--veryDarkGrayishRed);
    background-color: var(--veryDarkRed);
    font-size: 14px;
}

footer a{
    color: var(--darkGrayishRed);
}

footer a:hover{
    color: var(--veryDarkGrayishRed);
}

footer div{
    display: inline-block;
    vertical-align: middle;
    padding: 0 8px;
}

.logoRodape{
    position: relative;
    margin: 20px auto 20px;
}

.diretos{
    letter-spacing: 0.3px;
}

.redesSociais{
    padding: 80px 0 40px;
}

.redesSociais a{
    font-size: 35px;
    color:  var(--darkRed);
}

.redesSociais a:hover{
    color: var(--branco);
}

.redesSociais li{
    display: inline-block;
    padding: 0 15px;
}

.logo, .capa{
    margin: 20px;
}

@media (max-width: 750px){
    body{
        background: url("../img/bg-750.jpg") top right no-repeat;
    }
}

@media (max-width: 900px){
    body{
        background: url("../img/bg-900.jpg") top right no-repeat;
    }
}

@media(max-width: 690px){
    body{
        background-image: none;
        background-color: #dee5ec;
    }
    .fundoTopo{
        display: block;
    }

    section{
        padding: 10px;
    }
}

